.set-container ul {
    list-style-type: none;
    padding: 0;
    width: 129px;
    display: flex;
    flex-wrap: wrap;
}

.set-container ul li {
    width: 38px;
    height: 38px;
    background-color: #111A2E;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.384);
    display: inline-block;
}

.set-container ul li p {
    margin: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.set-container ul li:nth-child(3n + 0) {
    margin-right: 0;
}

.set-container ul li:nth-child(n + 10) {
    margin-left: 43px;
}

.set-inventory-details {
    color: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.356);
    border-radius: 15px;
    background-color: #0C1529;
    position: absolute;
    z-index: 4;
    min-width: 140px;
    padding: 10px 15px;
    top: 0;
    left: 0;
}

.detail-line {
    width: 85%;
    height: 1px;
    margin: 8px auto;
    background-color: #1A2338;
}

.strong {
    font-weight: 500;
}

.medium {
    font-weight: 400;
}

.light {
    font-weight: 300;
}