.loot-container {
    position: fixed;
    top: 0;
    left: calc((100% - 181px) / 2);
    transform: translateX(calc(181px - 50px));
    box-shadow: 0px 2px -2px rgba(0, 0, 0, 0.384);
}

.loot-container-active {
    position: fixed;
    top: 0;
    left: calc((100% - 181px) / 2);
    transform: translateX(calc(181px - 141px));
}

.loot-slots {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 283px;
    height: 113px;
    flex-wrap: wrap;
    background-color: #0C1529;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
}

.loot-slot {
    background-color: #111A2E;
    width: 38px;
    height: 38px;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.384);
}

.loot-slot-new {
    animation: newloot 2000ms ease-in-out 1 normal forwards;
}

@keyframes newloot {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 15px rgb(0, 166, 217);
    }
    100% {
        box-shadow: none;
    }
}

.loot-slot p {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.loot-slot:nth-child(6n + 0) {
    margin-right: 0px;
}

.loot-slot:nth-child(n + 7) {
    margin-bottom: 0px;
}

.loot-btn {
    all: unset;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    color: white;
    background-color: #0C1529;
    width: 50px;
    height: 20px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.384);
}

.loot-btn img {
    width: 10px;
    height: 10px;
}

.btn2-size {
    width: 80px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
}

.loot-details {
    color: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.356);
    border-radius: 15px;
    background-color: #0C1529;
    position: absolute;
    z-index: 4;
    min-width: 140px;
    padding: 10px 15px;
    top: 0;
    left: 0;
    white-space: nowrap;
}

.detail-line {
    width: 85%;
    height: 1px;
    margin: 8px auto;
    background-color: #1A2338;
}

.strong {
    font-weight: 500;
}

.medium {
    font-weight: 400;
}

.light {
    font-weight: 300;
}