@import '../../scss/mixins.scss';

.navbar {
    position: relative;
    background-color: #090F1C;
    width: 180px;
    min-width: 180px;
    color: white;
    border-right: 1px solid #00A5D9;
    box-shadow: 0px 0px 5px 0px rgba(0, 166, 217, 0.199);
    text-align: left;
    left: 0;
    transition: 200ms ease-in-out;
    @include desktop {
        position: absolute;
        z-index: 5;
        left: -200px;
        height: 100vh;
    }
}


.navbar .open_menu {
    margin: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: none;
    transition: 100ms ease-in-out;
    @include desktop {
        display: block;
        position: absolute;
        top: 0;
        right: -100px;
        z-index: 1;
    }
}

nav {
    position: relative;
    z-index: 3;
    background-color: #090F1C;
}

.navbar .close_menu {
    margin: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
    @include desktop {
        display: block;
        margin-top: 18px;
        margin-left: auto;
        margin-bottom: 0;
    }
    @include medium-phone {
        margin-top: 28px;
    }
}

.navbar h1 {
    text-align: left;
    padding: 0;
    font-size: 27px;
    padding: 20px 15px 15px 15px;
}

.navbar ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
    height: 200px;
}

.navbar ul li a {
    display: block;
    padding: 10px 0px 10px 15px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: background-color 200ms ease-in-out;
}

nav ul li a:hover,
nav ul li a:active {
    color: rgb(209, 209, 209);
}

nav ul li a.active {
    color: #00A5D9;
    background-color: #1C222F;
}