@import '../../scss/mixins.scss';

.depot-container {
    background-color: #0A1121;
    width: 100%;
    color: white;
}

.depot-container h1 {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.depot-boxes {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #0C1529;
    width: 550px;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.199);
    @include large-phone {
        flex-wrap: wrap;
        width: 200px;
        padding: 20px 20px;
    }
    @include small-phone {
        width: 180px;
    }
}

.depot-inventory-box {
    margin-right: 20px;
    @include large-phone {
        margin-right: 0;
    }
}

.depot-box {
    margin-left: 10px;
    @include large-phone {
        margin-left: 0;
    }
}

.depot-details {
    color: black;
    background-color: white;
    position: absolute;
    width: 150px;
    top: 0;
    left: 0;
}

