.hotkeys-container {
    position: fixed;
    bottom: 10px;
    left: calc((100% - 181px) / 2);
    transform: translateX(calc(181px - 45px));
}

.hotkeys-btn img {
    width: 10px;
    height: 10px;
}

.hotkeys {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
    border-radius: 15px 15px 0 0;
}

.hotkeys img {
    width: 10px;
    height: 10px;
}

.hotkeys-container-active {
    position: fixed;
    bottom: 0;
    left: calc((100% - 181px) / 2);
    transform: translateX(calc(181px - 158px));
}

.hotkeys-container-slots {
    position: relative;
    background-color: #0C1529;
    padding: 10px;
    padding-top: 15px;
    width: 297px;
    border-radius: 15px 15px 0 0;
}

.hotkeys-container-slots ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.hotkeys-pots-slot {
    background: #111A2E;
    width: 42px;
    height: 42px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.384);
}

.hotkeys-pots-slots p {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.hotkeys-spells-slot {
    background: #111A2E;
    width: 42px;
    height: 42px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.384);
}

.hotkeys-spells-slot:last-child {
    margin-right: 0;
}

.hotkeys-btn {
    all: unset;
    cursor: pointer;
    margin: 0;
    border: none;
    color: white;
    background-color: #0C1529;
    padding: 0 22px;
    height: 20px;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.384);
}

.hotkey-spell-icon {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.btn-size {
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
}

.key-hotkey {
    display: block;
    text-align: right;
    position: relative;
    bottom: -18px;
    right: 8px;
}

.spell-cooldown {
    position: absolute;
    border-radius: 15px;
    left: 0;
    top: 0;
    width: 42px;
    height: 42px;
    background-color: rgba(56, 56, 56, 0.678);
}
