@import '../../scss/mixins.scss';

.home {
    background-color: #0A1121;
    width: 100%;
    color: white;
}

.home h1 {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.home h3 {
    margin-bottom: 1rem;
}


.home .characters-list {
    width: 80%;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
}

.characters-list .character-create {
    padding: 20px 20px;
    background-color: #0C1529;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0C1529;
    box-shadow: none;
    transition: 150ms ease-in-out;
}

.characters-list .character-create:hover {
    border: 2px solid #00A5D9;
    box-shadow: 0 0 10px rgba(0, 166, 217, 0.2);
}

.characters-list .character-create img  {
    width: 60px;
    height: 60px;
}

.character-info-container {
    background-color: #0C1529;
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    border-radius: 35px;
    @include medium-phone {
        margin: 0 5%;
    }
}

td {
    text-align: left;
    padding: 0 10px;
}

table:last-child {
    margin-left: 40px;
    @include medium-phone {
        margin-left: 0;
    }
}

td:nth-child(n) {
    padding-right: 10px;
}

td:nth-child(2n) {
    text-align: right;
    margin-left: 10px;
}

.character-info-tables {
    display: flex;
    justify-content: center;
    @include medium-phone {
        flex-wrap: wrap;
    }
}

.character-info-display {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include medium-phone {
        flex-wrap: wrap;
    }
}

.character-info-container .character-animation {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}