@import '../../scss/mixins.scss';

.character-container {
    position: relative;
    width: 400px;
    padding: 15px;
    background-color: #0C1529;
    border-radius: 35px;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.199);
    @include desktop {
        width: 390px;
    }
    @include tablet {
        margin-top: 100px;
    }
    @include medium-phone {
        width: 190px;
    }
}

.character-animation {
    position: relative;
    width: 150px;
    border-radius: 45px;
    margin-right: 10px;
    display: flex;
    align-items: center;;
    justify-content: center;
    @include tablet {
    }
}

.character-display {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include medium-phone {
        flex-direction: column;
    }
}

.character-gold-drop {
    position: absolute;
    opacity: 1;
    font-size: 25px;
    color: gold;
    animation: golddrop 2000ms ease-in-out 1 normal forwards;
}

@keyframes golddrop {
    0% {
        opacity: 1;
        top: 0;
    }
    100% {
        opacity: 0;
        top: -100px;
    }
}

.character-physical-attack {
    position: absolute;
    color: lightgray;
    font-size: 16px;
    animation: cpattack 1000ms ease-in-out 1 normal forwards;
}

.character-fire-attack {
    position: absolute;
    color: rgb(252, 192, 62);
    font-size: 16px;
    animation: cfattack 1000ms ease-in-out 1 normal forwards;
}

.character-lightning-attack {
    position: absolute;
    color: rgb(28, 247, 255);
    font-size: 16px;
    animation: clattack 1000ms ease-in-out 1 normal forwards;
}

@keyframes cpattack {
    0% {
        right: 0;
        top: 50px;
        opacity: 1;
    }
    100% {
        right: -20px;
        top: 150px;
        opacity: 0;
    }
}

@keyframes cfattack {
    0% {
        right: 10px;
        top: 60px;
        opacity: 1;
    }
    100% {
        right: -10px;
        top: 160px;
        opacity: 0;
    }
}

@keyframes clattack {
    0% {
        right: -10px;
        top: 40px;
        opacity: 1;
    }
    100% {
        right: -30px;
        top: 140px;
        opacity: 0;
    }
}